/* Variables */
/* white */
/* gold */
/* black electromagnetic */
/* Global */
*, *::before, *::after {
  box-sizing: border-box; }

body {
  line-height: 1.7;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  color: #2f3640; }

.head {
  background-image: url(https://images.pexels.com/photos/1841841/pexels-photo-1841841.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: center;
  background-size: cover;
  min-height: 500px; }

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 40px 0; }

.navigation {
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.nav-horizontal {
  width: 500px;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  list-style-type: none; }
  .nav-horizontal li {
    text-align: center; }
  .nav-horizontal a {
    text-decoration: none;
    color: #f5f6fa;
    font-size: 20px; }
    .nav-horizontal a:hover {
      color: #f39c12; }

.Splash {
  padding: 70px;
  color: #f5f6fa;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

.page-title {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0; }

.page-subtitle {
  font-weight: 400;
  font-size: 70px;
  margin-top: 0; }

.btn {
  min-width: 200px;
  margin: 0;
  padding: 16px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #f39c12;
  color: #f39c12;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
  background-image: linear-gradient(90deg, #f39c12 50%, transparent 50%); }
  .btn:hover {
    background-position: 0 100%;
    color: #2f3640;
    font-weight: bolder; }

/* Service */
.service {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 70px 0;
  text-align: center; }

.service-title {
  padding: 30px; }
  .service-title h1 {
    margin: 20px 0;
    font-size: 50px;
    font-weight: bold; }

.wraper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.service-option {
  -ms-flex: 1;
      flex: 1;
  padding: 10px 20px; }

.service-icon {
  font-size: 40px;
  color: #f39c12;
  background: transparent;
  border: 2px solid #f39c12;
  border-radius: 50%;
  padding: 10px; }

/* Portfolio */
.portfolio-bg {
  background-color: #ecf0f1; }

.portfolio-title {
  text-align: center; }

.work {
  -ms-flex: 1;
      flex: 1;
  padding: 10px 10px;
  height: 450px;
  text-align: center; }

.image {
  height: 300px;
  position: relative; }
  .image img {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }

.description {
  padding: 0 0 0 40px;
  font-size: 16px;
  display: block; }
  .description p:last-of-type {
    font-weight: bolder; }

.btn-five {
  border: none;
  color: #f5f6fa;
  position: absolute;
  margin: -20px 0 0 -18px;
  text-align: left;
  font-weight: bolder; }

/* Footer */
footer {
  padding: 48px 0;
  margin: 0 auto; }
  footer ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    list-style-type: none; }
    footer ul li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      font-size: 0;
      padding: 10px; }

.social-medias {
  line-height: 60px;
  font-size: 30px;
  background: #e84118;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  transition: all 1s ease; }
  .social-medias:hover {
    transform: scale(1.5); }

/* Media */
/*@media (max-width: 767px) {
    header {
        padding-bottom: 10px;
    }
    .page-title span {
        font-size: 72px;
    }
    .wraper {
        flex-direction: column;
    }
    .service {
        margin-top: 30px;
    }
    .work {
        flex-direction: column;
    }
    .image {
        height: 200px;
        margin-bottom: 20px;
    }
    .nav-horizontal {
        padding-left: 10px;
        justify-content: flex-start;
        li {
            padding: 0 10px;
            a {
                font-size: 15px;
            }
        }
    }
    .nav-vertical {
        padding-inline-start: 0;
        padding: 0px;
        li a {
                font-size: 15px;
        }
    }
    .contact-form {
        padding-right: 0;
        padding-bottom: 50px;
    }
    footer ul {
        padding-inline-start: 0;
    }
    section {
        padding: 20px;
    }
    .container {
        padding: 10px 0;
    }


}*/
/*# sourceMappingURL=style.css.map */